@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url('https://unicons.iconscout.com/release/v4.0.8/css/line.css');

*{
  font-family: Poppins, sans-serif;
  margin: 0;
  box-sizing: border-box;
}
body{
    background-color: #b692f6;
    transition: background-color 0.8s ease, color 0.8s ease;
}